body {
    background-color: #f1f1f1;
}

#title {
    color:#fff;
    background-color:turquoise;
    font-size: xx-large;
    padding: 10px;
}

#navbar-expand-lg navbar-light bg-light

.navbar {  
    padding: 10px;
    background-color:#fff;  
}

.navbar h1{
    background:turquoise;
    padding:10px;
    color:#fff;
}

.navbar li {
    display:inline;
    margin-right:10px;
    margin-left:10px;
    padding: 20px;
    cursor: pointer;
}

.navbar li a {
    color:grey;
    text-decoration: none;
}

/* main {} */

#temp-img {
    float:left;
    margin: 0,0, 10px, 10px;
    padding: 10px;
    
    image-rendering: auto;
    height: 360px;
    width: 360px;
}

.visual-visualizations{
    display: inline;
}

#humidity-img {
    padding:10px;
    height: 240px;
    width: 240px;
}

#temperature-img {
    padding:10px;
    height: 240px;
    width: 240px; 
}

#humidity-img {
    padding:10px;
    height: 240px;
    width: 240px; 
}

#cloudiness-img {
    padding:10px;
    height: 240px;
    width: 240px; 
}

#wind-img {
    padding:10px;
    height: 240px;
    width: 240px;
}