body {
    background-color: #f1f1f1;
}

.header {
    color: turquoise
}

/* .navbar {    
} */

.navbar h1{
    color: red
}

.navbar li {
    display:inline;
    padding: 20px;
    cursor: pointer;
}